.container {
  padding: 40px 18px;
  .menu {
    display: grid;
    grid-template:
      " img img img"
      " ... ... ..." 20px
      " title ... link"
      " ... ... ..." 20px
      " intro intro intro"
      / auto auto auto;
    .img {
      grid-area: img;
    }
    .title {
      font-size: 25px;
      grid-area: title;
    }
    .link {
      padding: 8px;
      font-size: 15px;
      border-radius: 15px;
      background-color: rgb(1, 42, 177);
      grid-area: link;
    }
    .description {
      grid-area: intro;
    }
  }
}
