.container {
  display: flex;
  padding: unquote("min(3vw, 28px)") unquote("min(3vw, 32px)") 0;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  div {
    display: flex;
    align-items: center;
    width: clamp(150px, 3vw, 200rem);
    z-index: 3;
    a {
      display: contents;
      font-size: clamp(11px, 3vw, 1.1rem);
      text-decoration: none;
    }
  }
}

.nav {
  margin-left: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  ul {
    align-items: center;
    li {
      display: contents;
      a {
        font-size: 1rem;
        text-decoration: none;
        @media (max-width: 767px) {
        }
      }
    }
  }
  @media (max-width: 767px) {
    grid-template-columns: auto;
    position: absolute;
    top: -150vw;
  }
}

.open {
  width: 100%;
  height: auto;
  background-color: rgb(30, 30, 30);
  top: 0px;
  left: 0px;
  transition: 0.6s;
  z-index: 2;
  padding-top: 70px;
  padding-bottom: 100vw;
}

.navbtn {
  top: -100px;
  height: 28px;
  width: 30px;
  position: relative;
  margin-left: auto;
  z-index: 3;
  div {
    width: 30px;
    height: 2px;
    background: #fff;
    display: block;

    position: absolute;
    &:first-child {
      top: 0;
    }
    &:nth-child(2) {
      top: 14px;
    }
    &:last-child {
      bottom: 0;
    }
  }
  @media (max-width: 767px) {
    top: 0px;
  }
}

.closebtn {
  div {
    transition: 0.6s;
    &:first-child {
      transform: rotate(45deg);
      top: 50%;
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:last-child {
      transform: rotate(-45deg);
      top: 50%;
    }
  }
}

.blank {
  padding-top: 0px;
}
